@font-face {
  font-family: "Bradon Grotesque";
  src: url("../fonts/HvDTrial_Brandon_Grotesque_light-BF64a625c93e709.otf")
    format("otf");
}

.yie {
  /* background: red; */
  height: 100vh;
  width: 100%;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  align-items: center;
  justify-content: end;
  background: linear-gradient(rgba(39, 38, 38, 0.32), rgba(0, 0, 0, 1)),
    url(../asserts/WhatsApp\ Image\ 2023-10-14\ at\ 8.27.15\ AM.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding-bottom: 30%;
}

.names {
  font-size: 27px;
  font-family: "Bradon Grotesque", sans-serif;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 20px;
  word-spacing: 10px;
  text-align: center;
}

.getting {
  font-family: "Cormorant Upright", serif;
  font-style: italic;
  font-size: 20px;
  margin-top: 20px;
}

@media (max-width: 426px) {
  .yie {
    /* margin-top: -50px; */
  }

  .names {
    font-size: 25px;
    letter-spacing: 10px;
    word-spacing: 0px;
  }

  .getting {
    font-size: 19;
    margin-top: 10px;
  }
}
