.ourstory {
  display: flex;
  flex-direction: column;
  background: #f7e9e8;
  height: 100vh;
  /* justify-content: center; */
  align-items: center;
  padding-top: 100px;
  position: relative;
}

.ourstory h1 {
  font-size: 27px;
  text-transform: uppercase;
  font-family: "Bradon Grotesque", sans-serif;
  letter-spacing: 20px;
  word-spacing: 10px;
  font-weight: 100;
}

.ourstory p {
  width: 50%;
  text-align: center;
  margin-top: 50px;
  padding-right: 20px;
  font-family: "Cormorant Upright", serif;
}

.slide {
  position: absolute;
  /* margin-top: 250px; */
  /* background: #cccccc; */
  width: 70%;
  /* height: 50px; */
  left: 20%;
  top: 30%;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carousel img {
  width: 100%;
  height: 50%;
}

.carousel {
  width: 50%;
  display: flex;
  flex-direction: column;
  height: fit-content;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 30px; */
}
@media (max-width: 768px) {
  .slide {
    position: absolute;
    /* margin-top: 250px; */
    /* background: #cccccc; */
    width: 70%;
    height: 400px;
    left: 15%;
    top: 25%;
    margin-bottom: 30px;
  }

  .carousel img {
    width: 100%;
    height: 50%;
  }

  .carousel {
    width: 70%;
    display: flex;
    flex-direction: column;
    height: fit-content;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 30px; */
  }
}
@media (max-width: 426px) {
  .ourstory h1 {
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 10px;
  }

  .ourstory p {
    width: 100%;
    text-align: left;
    padding-left: 20px;
    font-size: 19px;
    margin-top: 25px;
  }

  .ourstory {
    height: 250px;
    padding-bottom: 300px;
    position: relative;
  }

  .slide {
    height: 400px;
    margin-top: 0;
    top: 39%;
    left: 8.5%;
  }

  .braT {
    margin-left: 15px;
  }

  .lkl {
    /* background: red; */
    padding-top: 20px;
  }

  .carousel {
    width: 100%;
    height: 100%;
  }
  .carousel img {
    width: 100%;
    height: 100%;
  }
}
