.ourstory {
  display: flex;
  flex-direction: column;
  background: #f7e9e8;
  height: 100vh;
  /* justify-content: center; */
  align-items: center;
  padding-top: 100px;
}

.ourstory h1 {
  font-size: 27px;
  text-transform: uppercase;
  font-family: "Bradon Grotesque", sans-serif;
  letter-spacing: 20px;
  word-spacing: 10px;
  font-weight: 100;
}

.ourstory p {
  width: 50%;
  text-align: center;
  margin-top: 50px;
  font-family: "Cormorant Upright", serif;
}

.slide {
  position: absolute;
  margin-top: 250px;
  /* background: #cccccc; */
  width: 70%;
  height: 80vh;
}

@media (max-width: 426px) {
  .ourstory h1 {
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 10px;
  }

  .ourstory p {
    width: 100%;
    text-align: left;
    padding-left: 20px;
    font-size: 19px;
    margin-top: 25px;
  }

  .ourstory {
    height: 250px;
    padding-bottom: 200px;
    position: relative;
  }

  .slide {
    height: 300px;
    margin-top: 0;
    top: 45%;
  }

  .comma {
    font-size: 90px;
    position: absolute;
    top: 53%;
    font-family: "Poppins";
  }
  .comma1 {
    font-size: 90px;
    position: absolute;
    top: 30%;
    font-family: "Poppins";
  }

  .author {
    font-size: 25px;
    /* font-family: "Poppins"; */

    position: absolute;
    top: 69%;
    left: 67%;
    /* background: red; */
  }

  .carousel {
    width: 100%;
  }
  .carousel img {
    width: 100%;
    height: 100%;
  }
}
