@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

@font-face {
  font-family: "Brittany";
  src: url("../fonts/BrittanySignature.ttf") format("ttf");
}
@font-face {
  font-family: "Glacial";
  src: url("../fonts/GlacialIndifference-Regular.otf") format("otf");
}

.firstright {
  height: 100vh;
  width: 100%;
  background: linear-gradient(360deg, rgba(0, 0, 0, 1), rgba(59, 59, 59, 0.32)),
    url(../asserts/WhatsApp\ Image\ 2023-09-11\ at\ 4.51.24\ PM.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #f7e9e8;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heading {
  font-family: "Times New Roman", Times, serif;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 700;
  width: 100%;
  margin-top: 10px;
  /* background: red; */
  text-align: center;
  /* margin-left: 10px; */
  /* color: rgb(220, 204, 114); */
}

.underline {
  width: 100px;
}

.subheading {
  margin-top: 15px;
  font-size: 1rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-family: "Times New Roman", Times, serif;
  width: 100%;
  text-align: center;
  /* background: green; */
  /* margin-left: 10px; */
}

.content {
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: "Times New Roman", Times, serif;
  text-transform: uppercase;

  font-size: 1rem;
  font-weight: 900;
  letter-spacing: 2px;
  word-spacing: 5px;
}

.content1 {
  margin-top: 20px;
  margin-bottom: 15px;
  /* margin-left: -25px; */
  /* background: white; */
  font-family: "Cormorant Upright", serif;
  font-size: 20px;
  line-height: 30px;
  /* width: 100%; */
  /* background: yellow; */
  text-align: center;
}

.rightTop {
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-size: 55px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 250px;
  font-weight: 500;
}

.rightmid {
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 17px;
  font-family: "Glacial", sans-serif;
}

.rightbottom {
  font-family: "Glacial";
  font-size: 25px;
}

.rightbottom > * {
  margin-left: 5px;
}

@media (max-width: 426px) {
  .firstpage {
    display: flex;
    height: 100vh;
  }

  .firstleft {
    width: 25%;
    background: #f7e9e8;
    display: flex;
    justify-content: center;
    position: relative;
  }

  .firstright {
    width: 100%;
    background: linear-gradient(
        360deg,
        rgba(0, 0, 0, 1),
        rgba(59, 59, 59, 0.32)
      ),
      url(../asserts/WhatsApp\ Image\ 2023-09-11\ at\ 4.51.24\ PM.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #f7e9e8;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .rightTop {
    font-family: "Playfair Display", serif;
    font-style: italic;
    font-size: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 250px;
    font-weight: 500;
  }
  .rightmid {
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 12px;
    font-family: "Glacial", sans-serif;
  }

  .rightbottom {
    font-family: "Glacial";
    font-size: 20px;
  }

  .rightbottom > * {
    margin-left: 5px;
  }

  .line {
    transform: rotate(180deg);
    background: #fafafa;

    width: 5px;
    height: 210px;
    position: absolute;
    align-self: end;
  }

  .welcome {
    top: 30%;
    font-size: 50px;
    letter-spacing: 10px;
    position: absolute;
    transform: rotate(270deg);
    color: #fafafa;
    font-family: "Glacial";
  }

  .heading {
    font-family: "Times New Roman", Times, serif;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-weight: 100;
    width: 100%;
    /* background: red; */
    text-align: center;
    /* margin-left: 10px; */
    /* color: rgb(220, 204, 114); */
  }

  .underline {
    width: 100px;
  }

  .subheading {
    margin-top: 15px;
    font-size: 1rem;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-family: "Times New Roman", Times, serif;
    width: 100%;
    text-align: center;
    /* background: green; */
    /* margin-left: 10px; */
  }

  .content {
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: "Times New Roman", Times, serif;
    text-transform: uppercase;

    font-size: 1rem;
    font-weight: 900;
    letter-spacing: 2px;
    word-spacing: 5px;
  }

  .content1 {
    margin-top: 20px;
    margin-bottom: 15px;
    /* margin-left: -25px; */
    /* background: white; */
    font-family: "Cormorant Upright", serif;
    font-size: 18px;
    line-height: 30px;
    /* width: 100%; */
    /* background: yellow; */
    text-align: center;
  }

  .rsvp {
    text-align: center;
    /* margin-right: 65px; */
  }
}
@media (max-width: 376px) {
  .content1 {
    font-size: 18px;
  }

  .heading {
    font-size: 1rem;
  }

  .subheading {
    font-size: 1.2rem;
  }
}
@media (max-width: 321px) {
  .content1 {
    font-size: 18px;
  }

  .heading {
    font-size: 1rem;
  }

  .subheading {
    font-size: 1.2rem;
  }
}
