@media (max-width: 426px) {
  .secondpage {
    display: flex;
    height: 100vh;
  }

  .secondLeft {
    width: 25%;
    background: #f7e9e8;
    display: flex;
    justify-content: center;
    position: relative;
    padding-top: 50px;
  }

  .secondRight {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .image {
    width: 80px;
    height: 80px;
    background: grey;
    transform: rotate(180deg);
    /* margin-top: 20px; */
  }
  .image1 {
    width: 80px;
    height: 80px;
    background: grey;
    transform: rotate(180deg);
    margin-top: 40px;
    position: absolute;
    top: 20%;
  }
  .image2 {
    width: 80px;
    height: 80px;
    background: gray;
    transform: rotate(180deg);
    margin-top: 40px;
    position: absolute;
    top: 40%;
  }
}
